@tailwind base;
@tailwind components;
@tailwind utilities;


.background {
    background-image: url("../../public/firebackground1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    right: 0%;
    width: 800px;
}

body {
    overflow: hidden;
}